.card {
  border-width: 2px;
  border-style: solid;
  border-color: var(--mantine-color-dark-4);
}

.empty {
  border-style: dashed;
  border-width: 2px;
  border-color: var(--mantine-color-dark-1);
  background-color: var(--mantine-color-dark-4);
}
