.typeSelect {
  flex: 1;
}

.firstJoinedControl button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 10rem;
}

.urlTextInput {
  flex: 3;
}

.urlTextInput input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.urlTextInput input:focus {
  border-left-width: 1px;
  margin-left: -1px;
}
