.typeSelect {
  flex: 1;
}

.firstJoinedControl {
  @media (min-width: $mantine-breakpoint-xs) {
    min-width: 10rem;
    width: 10rem;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    min-width: 100%;
    width: 100%;
  }
}

.firstJoinedControl button {
  @media (min-width: $mantine-breakpoint-xs) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.urlTextInput {
  flex: 3;
}

.urlTextInput input {
  @media (min-width: $mantine-breakpoint-xs) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.urlTextInput input:focus {
  @media (min-width: $mantine-breakpoint-xs) {
    border-left-width: 1px;
    margin-left: -1px;
  }
}
