.default {
  background-color: var(--mantine-color-dark-5);
  border-radius: var(--mantine-radius-lg);
  padding-right: var(--mantine-spacing-md);
}

.PersonBadge.highlighted {
  border: 2px solid var(--mantine-color-blue-7);
}

.PersonBadge.me {
  background-color: var(--mantine-color-dark-3);
  color: var(--mantine-color-dark-9);
}
