.circle_section {
  /* padding: var(--mantine-spacing-md) 0; */
  height: 42px;

  @media (max-width: $mantine-breakpoint-sm) {
    height: auto;
  }
}

.circle_selector_container {
  position: absolute;
  top: 0px;
  left: 100%;
  width: calc(100vw - 300px);
  height: 44px;
  /* background-color: var(--mantine-color-dark-7); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  @media (max-width: $mantine-breakpoint-sm) {
    position: static;
    display: block;
    min-height: 44px;
    height: auto;
    width: 100%;
  }
}

.main_container {
  position: relative;
}

.settings_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.menu_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.footer_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
}

.section_title {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-dark-2);
  text-align: center;
}
