.user_section {
  padding: var(--mantine-spacing-md);
}

.menu_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.footer_section {
  border-top: 1px solid var(--mantine-color-dark-4);
  padding-top: var(--mantine-spacing-md);
}
